<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexus.meeting.mapper.EmployeeMapper">
    <select id="loadEmpByUsername" resultType="com.nexus.meeting.model.Employee">
        select * from employee where username = #{username}
    </select>

    <insert id="doReg" parameterType="com.nexus.meeting.model.Employee">
        insert into employee (employeename, username, phone, email, status, departmentid, password, role)
        value (#{employeename}, #{username}, #{phone}, #{email}, #{status}, #{departmentid}, #{password}, #{role})
    </insert>

    <select id="getAllEmpsByStatus" resultType="com.nexus.meeting.model.Employee">
        select * from employee where status = #{status}
    </select>

    <update id="updatestatus" parameterType="com.nexus.meeting.model.Employee">
        update employee set status = #{status} where employeeid = #{employeeid}
    </update>

    <select id="getAllEmps" resultType="com.nexus.meeting.model.Employee">
        select * from employee where 1=1
        <if test="employee.status != null">
            and employee.status = #{employee.status}
        </if>
        <if test="employee.employeename != null">
            and employee.employeename like concat('%',#{employee.employeename},'%')
        </if>
        <if test="employee.username != null">
            and employee.username like concat('%',#{employee.username},'%')
        </if>
        limit #{page}, #{pageSize}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from employee
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="employeename != null">
                and employeename like concat('%',#{employeename},'%')
            </if>
            <if test="username != null">
                and username like concat('%',#{username},'%')
            </if>
        </where>
    </select>

    <select id="getEmpsByDepId" resultType="com.nexus.meeting.model.Employee">
        select * from employee where departmentid = #{depId}
    </select>
</mapper>