<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexus.meeting.mapper.MeetingMapper">
    <insert id="addMeeting" parameterType="com.nexus.meeting.model.Meeting" useGeneratedKeys="true" keyProperty="meetingid">
        insert into meeting (meetingname, roomid, reservationistid, numberofparticipants, starttime, endtime, reservationtime, canceledtime, description, status)
        values (#{meetingname},#{roomid},#{reservationistid},#{numberofparticipants},#{starttime},#{endtime},#{reservationtime},#{canceledtime},#{description},1)
    </insert>

    <insert id="addParticipants" parameterType="com.nexus.meeting.model.Meeting">
        insert into meetingparticipants (meetingid, employeeid)
        values
        <foreach collection="mps" item="mp" separator=",">
            (#{meetingid},#{mp})
        </foreach>
    </insert>

    <select id="getAllMeetings" resultType="com.nexus.meeting.model.Meeting">
        SELECT
            meeting.meetingid,
            meeting.meetingname,
            meetingroom.roomname,
            meeting.starttime,
            meeting.endtime,
            meeting.reservationtime,
            employee.employeename
        FROM
            meeting,
            meetingroom,
            employee
        where
            meeting.roomid = meetingroom.roomid
	    and
	        employee.employeeid = meeting.reservationistid
        <if test="meeting.meetingname != null and meeting.meetingname != ''">
            and meeting.meetingname like concat('%', #{meeting.meetingname}, '%')
        </if>
        <if test="meetingroom.roomname != null and meetingroom.roomname != ''">
            and meetingroom.roomname like concat('%', #{meetingroom.roomname}, '%')
        </if>
        <if test="employee.employeename != null and employee.employeename != ''">
            and employee.employeename like concat('%', #{employee.employeename}, '%')
        </if>
        <!-- meeting.starttime != '' 这样的语句就相当于date和String比较，会导致出现错误
             invalid comparison: java.util.Date and java.lang.String
             -->
        <if test="meeting.starttime != null">
            and meeting.starttime <![CDATA[>=]]> #{meeting.starttime}
        </if>
        <if test="meeting.endtime != null">
            and meeting.endtime <![CDATA[<=]]> #{meeting.endtime}
        </if>
        <if test="reservationtimefrom != null">
            and meeting.reservationtime <![CDATA[>=]]> #{reservationtimefrom}
        </if>
        <if test="reservationtimeto != null">
            and meeting.reservationtime <![CDATA[<=]]> #{reservationtimeto}
        </if>
	    limit #{page}, #{pageSize}
    </select>

    <!-- 这里inner join 必须在 where 前面，否则SQL执行无法通过 -->
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from meeting
        <if test="meetingroom.roomname != null and meetingroom.roomname != ''">
            inner JOIN meetingroom ON meeting.roomid = meetingroom.roomid
            and meetingroom.roomname LIKE CONCAT('%', #{meetingroom.roomname}, '%')
        </if>
        <if test="employee.employeename != null and employee.employeename != ''">
            inner JOIN employee on employee.employeeid = meeting.reservationistid
            and employee.employeename LIKE CONCAT('%', #{employee.employeename}, '%')
        </if>
        <where>
            <if test="meeting.meetingname != null and meeting.meetingname != ''">
                meeting.meetingname like concat('%', #{meeting.meetingname}, '%')
            </if>
            <if test="reservationtimefrom != null">
                and meeting.reservationtime <![CDATA[>=]]> #{reservationtimefrom}
            </if>
            <if test="reservationtimeto != null">
                and meeting.reservationtime <![CDATA[<=]]> #{reservationtimeto}
            </if>
            <!-- meeting.starttime != '' 这样的语句就相当于date和String比较，会导致出现错误
             invalid comparison: java.util.Date and java.lang.String
             -->
            <if test="meeting.starttime != null">
                and meeting.starttime <![CDATA[>=]]> #{meeting.starttime}
            </if>
            <if test="meeting.endtime != null">
                and meeting.endtime <![CDATA[<=]]> #{meeting.endtime}
            </if>
        </where>
    </select>

    <select id="getMeetingById" resultType="com.nexus.meeting.model.Meeting">
        SELECT
            meetingname,
            numberofparticipants,
            starttime,
            endtime,
            description
        FROM
            meeting
        WHERE
            meetingid = #{meetingid}
    </select>

    <select id="getEmployeeByMeetingId" resultType="com.nexus.meeting.model.Employee">
        SELECT
            employee.employeename,
            employee.phone,
            employee.email
        FROM
            meeting,
            meetingparticipants,
            employee
        WHERE
            meeting.meetingid = #{meetingid}
            AND meeting.meetingid = meetingparticipants.meetingid
            AND meetingparticipants.employeeid = employee.employeeid
    </select>

    <select id="getMeetingByEmployeeId" resultType="com.nexus.meeting.model.Meeting">
        SELECT
            mt.meetingid,
            mt.roomname,
            mt.meetingname,
            mt.starttime,
            mt.endtime,
            mt.reservationtime,
            e.employeename
        FROM
	    (
            SELECT
                meeting.meetingid AS meetingid,
                meetingroom.roomname AS roomname,
                meeting.meetingname AS meetingname,
                meeting.starttime AS starttime,
                meeting.endtime AS endtime,
                meeting.reservationtime as reservationtime,
                employee.employeeid AS employeeid,
                meeting.roomid AS roomid,
                meetingroom.roomid AS mrroomid,
                meetingparticipants.meetingid AS mpmeetingid,
                meetingparticipants.employeeid AS mpemployeeid
            FROM
                meeting,
                meetingroom,
                meetingparticipants,
                employee
        ) AS mt,
        ( SELECT employee.employeename AS employeename, meeting.meetingid AS meetingid FROM meeting, employee WHERE meeting.reservationistid = employee.employeeid ) AS e
        WHERE
            mt.employeeid = #{employeeid}
            AND mt.roomid = mt.mrroomid
            AND mt.meetingid = mt.mpmeetingid
            AND mpemployeeid = employeeid
            AND e.meetingid = mt.meetingid
        limit #{page}, #{pageSize}
    </select>

    <select id="getTotalMeetingByEmployeeId" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
	    (
            SELECT
                meeting.meetingid AS meetingid,
                meetingroom.roomname AS roomname,
                meeting.meetingname AS meetingname,
                meeting.starttime AS starttime,
                meeting.endtime AS endtime,
                meeting.reservationtime as reservationtime,
                employee.employeeid AS employeeid,
                meeting.roomid AS roomid,
                meetingroom.roomid AS mrroomid,
                meetingparticipants.meetingid AS mpmeetingid,
                meetingparticipants.employeeid AS mpemployeeid
            FROM
                meeting,
                meetingroom,
                meetingparticipants,
                employee
        ) AS mt,
        ( SELECT employee.employeename AS employeename, meeting.meetingid AS meetingid FROM meeting, employee WHERE meeting.reservationistid = employee.employeeid ) AS e
        WHERE
            mt.employeeid = #{employeeid}
            AND mt.roomid = mt.mrroomid
            AND mt.meetingid = mt.mpmeetingid
            AND mpemployeeid = employeeid
            AND e.meetingid = mt.meetingid
    </select>

    <select id="getBookingByEmployeeId" resultType="com.nexus.meeting.model.Meeting">
        SELECT
            meeting.meetingid,
            meetingroom.roomname,
            meeting.meetingname,
            meeting.starttime,
            meeting.endtime,
            meeting.reservationtime
        FROM
            meeting,
            meetingroom
        WHERE
            meeting.reservationistid = #{employeeid}
            AND meeting.roomid = meetingroom.roomid
    </select>
</mapper>